@{
    ViewData["Title"] = "Inscripciones a materias";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <img src="~/imgs/portada.png"  style="float:right; margin:20px" />
</div>
